* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1c4;
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: rgba(255, 0, 0, 0.604);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  align-self: center;
}
.search input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
}
.search button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.section {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.product {
  background-color: #f1f1f1;
  height: 300px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.03);
}
.product-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.product-price {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
img {
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* button */
.btn {
  background-color: red;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: #555;
  color: white;
  transition: all 0.4s ease-in-out;
}
